<body>
    <h1>Hello</h1>
    <!--// Name
    // Primary Type
    // Height
    // Weight-->
    <h2>Pokemon Name - @ViewBag.pokemon["name"]</h2>
    <h2>Pokemon Height - @ViewBag.pokemon["height"]</h2>
    <h2>Pokemon Weight - @ViewBag.pokemon["weight"]</h2>
    <h2>Pokemon Type - </h2>
    
</body>