<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Hello World!</h1>
        <form action="/process" method="post">
            Name: <input type="text" name="Name" value="">
            Age: <input type="text" name="Age" value="">
            <button type="submit">submit</button>
        </form>
    </body>
</html>