<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
    </head>
    <body>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="">Contact Info</a>
        </div>
        <img src="~/images/photo_of_me.jpg">
        <h1>hello im blair</h1>
        <p>here are my deepest darkest secrets</p>
    </body>
</html>
