@{
    ViewData["Title"] = "Home Page";
}
<h1>Enter Your Information</h1>
<form method="post" action="info">
    First Name: <input type="text" name="first_name" value="">
    Last Name: <input type="text" name="last_name" value="">
    Age: <input type="number" name="age" value="">
    E-mail: <input type="email" name="email" value="">
    Password: <input type="password" name="password" value="">
    <button type="submit">Submit</button>
</form>
