@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome To QuotingDojo</h1>
<form method="post" action="/form">
    <input type="text" name="name" value="">
    <input type="text" name="quote" value="">
    <button type="submit">Add My Quote!</button>
</form>
<a href="/quotes">Skip To Quotes!</a>
