<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Hi I'm your new pet!</h1>
        <p>Fullness: @ViewBag.Dojodachi.Fullness</p>
        <p>Happiness: @ViewBag.Dojodachi.Happiness</p>
        <p>Meals: @ViewBag.Dojodachi.Meals</p>
        <p>Energy: @ViewBag.Dojodachi.Energy</p>
        <div class="display">
            <img src="" alt="">
            <p></p>
        </div>
        <a href="/feed">Feed</a>
        <a href="/play">Play</a>
        <a href="/work">Work</a>
        <a href="/sleep">Sleep</a>
    </body>
</html>